<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="FnxDigital.BackendComponentsFeed" value="https://pkgs.dev.azure.com/fnxdigital/cpdigital/_packaging/BackendComponentsFeed/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
    <add value="(Aggregate source)" key="All" />
  </activePackageSource>
  <packageSourceCredentials>
    <FnxDigital.BackendComponentsFeed>
      <add key="Username" value="FnxDigital.BackendComponentsFeed" />
      <add key="ClearTextPassword" value="mrtxhd2tqscqo6vts5cstzrhlmz4hxy4owbdzm2cwdm6eg24ujbq" />
    </FnxDigital.BackendComponentsFeed>
  </packageSourceCredentials>  
</configuration>